* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth!important;
}
body {
  margin: 0;
  background: url(../resources/img/bg.svg);
  background-color: #EAEAD8;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.no-overflow {
  overflow: hidden;
}
.m-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (max-width: 820px) {
  .m-80 {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}
.mt-80 {
  margin-top: 80px;
}
@media (max-width: 820px) {
  .mt-80 {
    margin-top: 48px;
  }
}
.normal-width {
  width: 94%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 820px) {
  .normal-width {
    width: 97%;
  }
}
.accordion {
  width: 100%;
  padding: 24px;
  border-radius: 24px;
  border: solid 1.5px rgba(64, 64, 64, 0.3);
  margin-bottom: 24px;
  cursor: pointer;
  transition: 0.3s all ease;
  box-sizing: border-box;
}
.accordion:hover {
  background-color: #F5F2E8;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
}
.accordion .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins-SemiBold', sans-serif;
  font-size: 20px;
  line-height: 140%;
  gap: 16px;
  color: #404040;
}
.accordion .question .question-text {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 820px) {
  .accordion .question .question-text {
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
  }
}
.accordion .question .question-text .question-icon {
  width: 64px;
  aspect-ratio: 1/1;
  display: flex;
}
@media (max-width: 820px) {
  .accordion .question .question-text .question-icon {
    width: 32px;
    aspect-ratio: 1/1;
  }
}
.accordion .question .question-text .question-icon img {
  width: 100%;
}
.accordion .question .accordion-ico {
  width: 52px;
  display: flex;
  aspect-ratio: 1/1;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none"><mask id="path-1-inside-1_2446_9593" fill="white"><path d="M15.584 18.4173H7.08398V15.584H15.584V7.08398H18.4173V15.584H26.9173V18.4173H18.4173V26.9173H15.584V18.4173Z"/></mask><path d="M15.584 18.4173H7.08398V15.584H15.584V7.08398H18.4173V15.584H26.9173V18.4173H18.4173V26.9173H15.584V18.4173Z" fill="%23222222"/><path d="M15.584 18.4173H18.584V15.4173H15.584V18.4173ZM7.08398 18.4173H4.08398V21.4173H7.08398V18.4173ZM7.08398 15.584V12.584H4.08398V15.584H7.08398ZM15.584 15.584V18.584H18.584V15.584H15.584ZM15.584 7.08398V4.08398H12.584V7.08398H15.584ZM18.4173 7.08398H21.4173V4.08398H18.4173V7.08398ZM18.4173 15.584H15.4173V18.584H18.4173V15.584ZM26.9173 15.584H29.9173V12.584H26.9173V15.584ZM26.9173 18.4173V21.4173H29.9173V18.4173H26.9173ZM18.4173 18.4173V15.4173H15.4173V18.4173H18.4173ZM18.4173 26.9173V29.9173H21.4173V26.9173H18.4173ZM15.584 26.9173H12.584V29.9173H15.584V26.9173ZM15.584 15.4173H7.08398V21.4173H15.584V15.4173ZM10.084 18.4173V15.584H4.08398V18.4173H10.084ZM7.08398 18.584H15.584V12.584H7.08398V18.584ZM18.584 15.584V7.08398H12.584V15.584H18.584ZM15.584 10.084H18.4173V4.08398H15.584V10.084ZM15.4173 7.08398V15.584H21.4173V7.08398H15.4173ZM18.4173 18.584H26.9173V12.584H18.4173V18.584ZM23.9173 15.584V18.4173H29.9173V15.584H23.9173ZM26.9173 15.4173H18.4173V21.4173H26.9173V15.4173ZM15.4173 18.4173V26.9173H21.4173V18.4173H15.4173ZM18.4173 23.9173H15.584V29.9173H18.4173V23.9173ZM18.584 26.9173V18.4173H12.584V26.9173H18.584Z" fill="%23222222" mask="url(%23path-1-inside-1_2446_9593)"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}
.accordion .answer {
  cursor: text;
  background-color: #767A53;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  margin-top: 24px;
  gap: 10px;
}
.accordion .answer .answer-ico {
  min-width: 52px;
  max-width: 52px;
  aspect-ratio: 1/1;
  display: flex;
  background: url('data:image/svg+xml,<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="52" height="52" rx="26" fill="%23EAEAD8"/><path d="M24.583 33.084H27.4163L27.4163 24.584H24.583L24.583 33.084ZM25.9997 21.7507C26.4011 21.7507 26.7375 21.6149 27.009 21.3434C27.2806 21.0718 27.4163 20.7354 27.4163 20.334C27.4163 19.9326 27.2806 19.5961 27.009 19.3246C26.7375 19.0531 26.4011 18.9173 25.9997 18.9173C25.5983 18.9173 25.2618 19.0531 24.9903 19.3246C24.7188 19.5961 24.583 19.9326 24.583 20.334C24.583 20.7354 24.7188 21.0718 24.9903 21.3434C25.2618 21.6149 25.5983 21.7507 25.9997 21.7507ZM25.9997 40.1673C24.04 40.1673 22.1983 39.7954 20.4747 39.0517C18.7511 38.3079 17.2518 37.2986 15.9768 36.0236C14.7018 34.7486 13.6924 33.2493 12.9486 31.5257C12.2049 29.802 11.833 27.9604 11.833 26.0007C11.833 24.0409 12.2049 22.1993 12.9486 20.4757C13.6924 18.752 14.7018 17.2527 15.9768 15.9777C17.2518 14.7027 18.7511 13.6934 20.4747 12.9496C22.1983 12.2059 24.04 11.834 25.9997 11.834C27.9594 11.834 29.8011 12.2059 31.5247 12.9496C33.2483 13.6934 34.7476 14.7027 36.0226 15.9777C37.2976 17.2527 38.307 18.752 39.0507 20.4757C39.7945 22.1993 40.1663 24.0409 40.1663 26.0007C40.1663 27.9604 39.7945 29.802 39.0507 31.5257C38.307 33.2493 37.2976 34.7486 36.0226 36.0236C34.7476 37.2986 33.2483 38.3079 31.5247 39.0517C29.8011 39.7954 27.9594 40.1673 25.9997 40.1673ZM25.9997 37.334C29.1636 37.334 31.8434 36.2361 34.0393 34.0402C36.2351 31.8444 37.333 29.1645 37.333 26.0007C37.333 22.8368 36.2351 20.1569 34.0393 17.9611C31.8434 15.7652 29.1636 14.6673 25.9997 14.6673C22.8358 14.6673 20.1559 15.7652 17.9601 17.9611C15.7643 20.1569 14.6663 22.8368 14.6663 26.0007C14.6663 29.1645 15.7643 31.8444 17.9601 34.0402C20.1559 36.2361 22.8358 37.334 25.9997 37.334Z" fill="%23767A53"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 820px) {
  .accordion .answer .answer-ico {
    display: none;
  }
}
.accordion .answer p {
  color: #EAEAD8;
  font-size: 16px;
  font-family: 'Poppins-Regular', sans-serif;
  line-height: 150%;
}
.accordion[open] {
  background-color: #F5F2E8;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
}
.accordion[open] .question .accordion-ico {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none"><mask id="path-1-inside-1_2451_19610" fill="white"><path d="M7.08301 18.4173V15.584H26.9163V18.4173H7.08301Z"/></mask><path d="M7.08301 18.4173V15.584H26.9163V18.4173H7.08301Z" fill="%23222222"/><path d="M7.08301 18.4173H4.08301V21.4173H7.08301V18.4173ZM7.08301 15.584V12.584H4.08301V15.584H7.08301ZM26.9163 15.584H29.9163V12.584H26.9163V15.584ZM26.9163 18.4173V21.4173H29.9163V18.4173H26.9163ZM10.083 18.4173V15.584H4.08301V18.4173H10.083ZM7.08301 18.584H26.9163V12.584H7.08301V18.584ZM23.9163 15.584V18.4173H29.9163V15.584H23.9163ZM26.9163 15.4173H7.08301V21.4173H26.9163V15.4173Z" fill="%23222222" mask="url(%23path-1-inside-1_2451_19610)"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}
.cta-btn {
  max-width: 100%;
  padding: 24px 52px;
  display: flex;
  gap: 24px;
  background-color: #404040;
  border-radius: 24px;
  justify-content: space-between;
  align-items: center;
  color: #EAEAD8;
  font-family: 'Poppins-SemiBold', sans-serif;
  font-size: 29px;
  line-height: 124%;
  text-decoration: none;
}
@media (max-width: 820px) {
  .cta-btn {
    padding: 24px 16px;
    font-size: 18px;
  }
}
.cta-btn .cta-btn-icon {
  width: 138px;
  height: 56px;
  border-radius: 29px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path d="M14 4.5L21.5 12M21.5 12L14 19.5M21.5 12H3.5" stroke="%23F5F2E8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 16px;
  background-color: #222222;
  transition: 0.3s all ease;
}
@media (max-width: 820px) {
  .cta-btn .cta-btn-icon {
    background-position: 90%;
    background-color: #F37321;
    width: 92px;
    height: 38px;
    background-size: 16px;
  }
}
.cta-btn .cta-btn-icon:hover {
  cursor: pointer;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path d="M14 4.5L21.5 12M21.5 12L14 19.5M21.5 12H3.5" stroke="%23F5F2E8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 90%;
  background-color: #F37321;
}
@media (max-width: 820px) {
  .cta-btn .cta-btn-icon:hover {
    background-size: 24px;
  }
}
.alu-heading {
  font-size: 46px;
  font-family: 'Poppins-SemiBold', sans-serif;
  line-height: 117%;
  color: #222222;
}
.back-btn {
  display: flex;
  color: #EAEAD8;
  align-items: center;
  gap: 14px;
  font-family: 'Poppins-Regular', sans-serif;
  text-decoration: none;
  margin-bottom: 24px;
  font-size: 18px;
}
@media (max-width: 820px) {
  .back-btn {
    font-size: 16px;
  }
}
.back-btn .backarrow {
  width: 56px;
  aspect-ratio: 1/1;
  border-radius: 16px;
  display: flex;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M15 19.5L7.5 12L15 4.5" stroke="%23F5F2E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 820px) {
  .back-btn .backarrow {
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 8px;
  }
}
.back-btn .dot {
  width: 10px;
  aspect-ratio: 1/1;
  display: flex;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="7" viewBox="0 0 6 7" fill="none"><circle cx="3" cy="3.5" r="3" fill="%23FBE5D8"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}
.posts-grid {
  display: grid;
  padding: 16px;
  box-sizing: content-box;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media (max-width: 1080px) {
  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 680px) {
  .posts-grid {
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
  }
}
.post-card {
  position: relative;
  background-color: #eeecde;
  border: solid 1px rgba(64, 64, 64, 0.3);
  padding: 22px;
  border-radius: 24px;
  text-decoration: none;
  transition: 0.3s all ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.post-card .corner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27%;
  aspect-ratio: 1/1;
  position: absolute;
  border: solid 1px transparent;
  background-color: #EAEAD8;
  top: -1px;
  right: -1px;
  border-bottom-left-radius: 24px;
  border-left-color: rgba(64, 64, 64, 0.3);
  border-bottom-color: rgba(64, 64, 64, 0.3);
  box-shadow: 1px 0px 0px 0px #EAEAD8;
}
.post-card .corner .corner-btn {
  max-width: 70px;
  width: 70px;
  aspect-ratio: 1/1;
  display: flex;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="35" height="34" viewBox="0 0 35 34" fill="none"><path d="M19.625 6.375L30.25 17M30.25 17L19.625 27.625M30.25 17H4.75" stroke="%23F5F2E8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 34px;
  background-color: #F37321;
  border-radius: 50%;
  transition: all 0.3s ease;
}
@media (max-width: 820px) {
  .post-card .corner .corner-btn {
    width: 60px;
  }
}
.post-card .corner .rc {
  transition: all 0.3s ease;
  background-color: #eeecde;
  width: 24px;
  aspect-ratio: 1/1;
  border-bottom-left-radius: 24px;
  display: block;
}
.post-card .corner .rc:first-of-type {
  position: absolute;
  left: -25px;
  top: -1px;
}
.post-card .corner .rc:last-of-type {
  position: absolute;
  bottom: -25px;
  right: 0px;
}
.post-card .corner .rc:before {
  transition: all 0.3s ease;
  background-color: #eeecde;
  width: 24px;
  display: block;
  aspect-ratio: 1/1;
  content: '';
  border-top: solid 1px rgba(64, 64, 64, 0.3);
  border-right: solid 1px rgba(64, 64, 64, 0.3);
  border-top-right-radius: 24px;
  box-shadow: 6px -6px 0px 6px #EAEAD8;
}
@media (max-width: 820px) {
  .post-card .corner .rc:before {
    box-shadow: 6px -3px 0px 3px #EAEAD8;
  }
}
.post-card .small-cnr {
  width: 22%!important;
}
@media (max-width: 560px) {
  .post-card {
    padding: 16px;
  }
}
.post-card:hover {
  background-color: #F5F2E8;
  box-shadow: -6px 4px 6px -3px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 4px 6px -3px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 4px 6px -3px rgba(0, 0, 0, 0.23);
}
.post-card:hover .corner .rc {
  background-color: #F5F2E8;
}
.post-card:hover .corner .rc:before {
  background-color: #F5F2E8;
}
.post-card:hover .corner .corner-btn {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none"><path d="M19.125 6.375L29.75 17M29.75 17L19.125 27.625M29.75 17H4.25" stroke="%23F37321" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 34px;
  background-color: #F5F2E8;
  border: solid 3px #F37321;
}
.post-card .post-title {
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 29px;
  color: #222222;
  margin-bottom: 14px;
  max-width: 72%;
  word-wrap: break-word;
  min-height: 100px;
  max-height: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 820px) {
  .post-card .post-title {
    min-height: 120px;
  }
}
.post-card .post-category {
  color: #F37321;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 110%;
  font-family: 'Poppins-Regular', sans-serif;
  margin-bottom: 24px;
}
.post-card .post-excerpt {
  color: #222222;
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 16px;
  line-height: 131%;
  margin-bottom: 16px;
  max-height: 60px;
  overflow: hidden;
}
.post-card .post-excerpt p {
  max-height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-card .post-thumbnail {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 16px;
}
@media (max-width: 1080px) {
  .post-card .post-thumbnail {
    aspect-ratio: 16/11;
  }
}
.filter-select {
  appearance: none;
  padding: 16px;
  box-sizing: border-box;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.66602 8.7L0.666016 3.71787L1.38588 3L5.67738 7.29629L9.95751 3.01137L10.666 3.71787L5.66602 8.7Z" fill="%23404040"/></svg>');
  background-repeat: no-repeat;
  background-position: 98%;
  background-color: #F5F2E8;
  font-family: 'Poppins-Regular', sans-serif;
  border-radius: 16px;
  border: none;
  color: #222222;
  width: 100%;
  font-size: 16px;
}
.post-filter-btn {
  background-color: #F37321;
  color: #F5F2E8;
  font-family: 'Poppins-Regular', sans-serif;
  padding: 16px;
  border: none;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.prod-filter-btn {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M13.875 16.124L3.75 16.124" stroke="%23F5F2E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M20.25 16.124L17.625 16.124" stroke="%23F5F2E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.75 17.999C16.7855 17.999 17.625 17.1596 17.625 16.124C17.625 15.0885 16.7855 14.249 15.75 14.249C14.7145 14.249 13.875 15.0885 13.875 16.124C13.875 17.1596 14.7145 17.999 15.75 17.999Z" stroke="%23F5F2E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.875 7.8741L3.75 7.87402" stroke="%23F5F2E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M20.25 7.87402L11.625 7.8741" stroke="%23F5F2E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.75 9.74902C10.7855 9.74902 11.625 8.90956 11.625 7.87402C11.625 6.83849 10.7855 5.99902 9.75 5.99902C8.71447 5.99902 7.875 6.83849 7.875 7.87402C7.875 8.90956 8.71447 9.74902 9.75 9.74902Z" stroke="%23F5F2E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 80%;
  background-color: #222222;
  color: #F5F2E8;
  font-family: 'Poppins-Regular', sans-serif;
  padding: 16px;
  border: none;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  padding-right: 56px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  gap: 14px;
}
.pagination .page-numbers {
  width: 70px;
  aspect-ratio: 1/1;
  background-color: #222222;
  color: #F5F2E8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins-Regular', sans-serif;
  text-decoration: none;
  font-size: 18px;
}
.pagination .prev,
.pagination .next {
  background-color: transparent;
  border: solid 2px #F37321;
  box-sizing: border-box;
}
.pagination .prev:after,
.pagination .next:after {
  content: '';
}
.pagination .next {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none"><mask id="path-1-inside-1_1584_149183" fill="white"><path d="M22.9139 18.4165H5.66602V15.5832H22.9139L14.9806 7.64984L16.9993 5.6665L28.3327 16.9998L16.9993 28.3332L14.9806 26.3498L22.9139 18.4165Z"/></mask><path d="M22.9139 18.4165H5.66602V15.5832H22.9139L14.9806 7.64984L16.9993 5.6665L28.3327 16.9998L16.9993 28.3332L14.9806 26.3498L22.9139 18.4165Z" fill="%23222222"/><path d="M22.9139 18.4165L25.0353 20.5378L30.1566 15.4165H22.9139V18.4165ZM5.66602 18.4165H2.66602V21.4165H5.66602V18.4165ZM5.66602 15.5832V12.5832H2.66602V15.5832H5.66602ZM22.9139 15.5832V18.5832H30.1566L25.0353 13.4619L22.9139 15.5832ZM14.9806 7.64984L12.8781 5.50983L10.7191 7.63098L12.8593 9.77116L14.9806 7.64984ZM16.9993 5.6665L19.1207 3.54518L17.018 1.44255L14.8969 3.52649L16.9993 5.6665ZM28.3327 16.9998L30.454 19.1212L32.5753 16.9998L30.454 14.8785L28.3327 16.9998ZM16.9993 28.3332L14.8969 30.4732L17.018 32.5571L19.1207 30.4545L16.9993 28.3332ZM14.9806 26.3498L12.8593 24.2285L10.7191 26.3687L12.8781 28.4898L14.9806 26.3498ZM22.9139 15.4165H5.66602V21.4165H22.9139V15.4165ZM8.66602 18.4165V15.5832H2.66602V18.4165H8.66602ZM5.66602 18.5832H22.9139V12.5832H5.66602V18.5832ZM25.0353 13.4619L17.1019 5.52852L12.8593 9.77116L20.7926 17.7045L25.0353 13.4619ZM17.0831 9.78985L19.1018 7.80651L14.8969 3.52649L12.8781 5.50983L17.0831 9.78985ZM14.878 7.78782L26.2114 19.1212L30.454 14.8785L19.1207 3.54518L14.878 7.78782ZM26.2114 14.8785L14.878 26.2119L19.1207 30.4545L30.454 19.1212L26.2114 14.8785ZM19.1018 26.1932L17.0831 24.2098L12.8781 28.4898L14.8969 30.4732L19.1018 26.1932ZM17.1019 28.4712L25.0353 20.5378L20.7926 16.2952L12.8593 24.2285L17.1019 28.4712Z" fill="%23F37321" mask="url(%23path-1-inside-1_1584_149183)"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
}
.pagination .prev {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none"><mask id="path-1-inside-1_1494_117866" fill="white"><path d="M11.0857 18.416L19.0191 26.3494L17.0003 28.3327L5.66699 16.9993L17.0003 5.66602L19.0191 7.64935L11.0857 15.5827H28.3337V18.416H11.0857Z"/></mask><path d="M11.0857 18.416L19.0191 26.3494L17.0003 28.3327L5.66699 16.9993L17.0003 5.66602L19.0191 7.64935L11.0857 15.5827H28.3337V18.416H11.0857Z" fill="%23222222"/><path d="M11.0857 18.416V15.416H3.8431L8.96442 20.5373L11.0857 18.416ZM19.0191 26.3494L21.1215 28.4894L23.2806 26.3682L21.1404 24.228L19.0191 26.3494ZM17.0003 28.3327L14.879 30.454L16.9816 32.5566L19.1028 30.4727L17.0003 28.3327ZM5.66699 16.9993L3.54567 14.878L1.42435 16.9993L3.54567 19.1207L5.66699 16.9993ZM17.0003 5.66602L19.1028 3.52601L16.9816 1.44206L14.879 3.5447L17.0003 5.66602ZM19.0191 7.64935L21.1404 9.77067L23.2806 7.63049L21.1215 5.50934L19.0191 7.64935ZM11.0857 15.5827L8.96442 13.4614L3.8431 18.5827H11.0857V15.5827ZM28.3337 15.5827H31.3337V12.5827H28.3337V15.5827ZM28.3337 18.416V21.416H31.3337V18.416H28.3337ZM8.96442 20.5373L16.8978 28.4707L21.1404 24.228L13.2071 16.2947L8.96442 20.5373ZM16.9166 24.2093L14.8979 26.1927L19.1028 30.4727L21.1215 28.4894L16.9166 24.2093ZM19.1216 26.2114L7.78831 14.878L3.54567 19.1207L14.879 30.454L19.1216 26.2114ZM7.78831 19.1207L19.1216 7.78734L14.879 3.5447L3.54567 14.878L7.78831 19.1207ZM14.8979 7.80603L16.9166 9.78936L21.1215 5.50934L19.1028 3.52601L14.8979 7.80603ZM16.8978 5.52803L8.96442 13.4614L13.2071 17.704L21.1404 9.77067L16.8978 5.52803ZM11.0857 18.5827H28.3337V12.5827H11.0857V18.5827ZM25.3337 15.5827V18.416H31.3337V15.5827H25.3337ZM28.3337 15.416H11.0857V21.416H28.3337V15.416Z" fill="%23F37321" mask="url(%23path-1-inside-1_1494_117866)"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
}
.pagination .current {
  background-color: #F37321;
}
.related-heading {
  font-family: 'Poppins-Medium', sans-serif;
  color: #767A53;
  font-size: 36px;
  line-height: 122%;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 32px;
}
.rec-stories-grid {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 94%;
  padding-bottom: 20px;
}
@media (max-width: 820px) {
  .rec-stories-grid {
    width: 97%;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 10px;
  }
}
.map-frame {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  aspect-ratio: 16/12;
  border-radius: 32px;
  overflow: hidden;
  margin-bottom: 24px;
}
@media (max-width: 820px) {
  .map-frame {
    aspect-ratio: 10/16;
  }
}
.map-frame iframe {
  width: 100%;
  height: 100%;
}
.btm-corner {
  width: 72px;
  max-width: 72px;
  aspect-ratio: 1/1;
  background-color: #EAEAD8;
  position: absolute;
  bottom: -1px;
  right: -1px;
  border-top-left-radius: 24px;
  border-top: solid 1px rgba(64, 64, 64, 0.3);
  border-left: solid 1px rgba(64, 64, 64, 0.3);
  z-index: 1;
}
.btm-corner .rc {
  width: 24px;
  position: absolute;
  background-color: #EAEAD8;
  aspect-ratio: 1/1;
  display: block;
  box-shadow: 1px 0px 0px 0px #EAEAD8;
}
.btm-corner .rc:before {
  background-color: #EAEAD8;
  width: 24px;
  display: block;
  aspect-ratio: 1/1;
  content: '';
  border-bottom: solid 1px rgba(64, 64, 64, 0.3);
  border-right: solid 1px rgba(64, 64, 64, 0.3);
  border-bottom-right-radius: 24px;
}
.btm-corner .rc:first-of-type {
  top: -25px;
  right: 1px;
}
.btm-corner .rc:last-of-type {
  bottom: 0px;
  left: -25px;
}
.green-container {
  background: url(../resources/img/topography-faded.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #767A53;
  position: relative;
}
.green-container .corner-sml {
  position: absolute;
  width: 80px;
  aspect-ratio: 1/1;
  display: flex;
  top: 0;
  right: 0;
  background-color: #EAEAD8;
  border-bottom-left-radius: 32px;
}
.green-container .corner-sml .corner-close-btn {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0;
  max-width: 60px;
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><mask id="path-1-inside-1_3268_5161" fill="white"><path d="M6.9 19.0002L5.5 17.6002L11.1 12.0002L5.5 6.40024L6.9 5.00024L12.5 10.6002L18.1 5.00024L19.5 6.40024L13.9 12.0002L19.5 17.6002L18.1 19.0002L12.5 13.4002L6.9 19.0002Z"/></mask><path d="M6.9 19.0002L5.5 17.6002L11.1 12.0002L5.5 6.40024L6.9 5.00024L12.5 10.6002L18.1 5.00024L19.5 6.40024L13.9 12.0002L19.5 17.6002L18.1 19.0002L12.5 13.4002L6.9 19.0002Z" fill="%23222222"/><path d="M6.9 19.0002L5.13223 20.768L6.9 22.5358L8.66777 20.768L6.9 19.0002ZM5.5 17.6002L3.73223 15.8325L1.96447 17.6002L3.73223 19.368L5.5 17.6002ZM11.1 12.0002L12.8678 13.768L14.6355 12.0002L12.8678 10.2325L11.1 12.0002ZM5.5 6.40024L3.73223 4.63248L1.96447 6.40024L3.73223 8.16801L5.5 6.40024ZM6.9 5.00024L8.66777 3.23248L6.9 1.46471L5.13223 3.23248L6.9 5.00024ZM12.5 10.6002L10.7322 12.368L12.5 14.1358L14.2678 12.368L12.5 10.6002ZM18.1 5.00024L19.8678 3.23248L18.1 1.46471L16.3322 3.23248L18.1 5.00024ZM19.5 6.40024L21.2678 8.16801L23.0355 6.40024L21.2678 4.63248L19.5 6.40024ZM13.9 12.0002L12.1322 10.2325L10.3645 12.0002L12.1322 13.768L13.9 12.0002ZM19.5 17.6002L21.2678 19.368L23.0355 17.6002L21.2678 15.8325L19.5 17.6002ZM18.1 19.0002L16.3322 20.768L18.1 22.5358L19.8678 20.768L18.1 19.0002ZM12.5 13.4002L14.2678 11.6325L12.5 9.86471L10.7322 11.6325L12.5 13.4002ZM8.66777 17.2325L7.26777 15.8325L3.73223 19.368L5.13223 20.768L8.66777 17.2325ZM7.26777 19.368L12.8678 13.768L9.33223 10.2325L3.73223 15.8325L7.26777 19.368ZM12.8678 10.2325L7.26777 4.63248L3.73223 8.16801L9.33223 13.768L12.8678 10.2325ZM7.26777 8.16801L8.66777 6.76801L5.13223 3.23248L3.73223 4.63248L7.26777 8.16801ZM5.13223 6.76801L10.7322 12.368L14.2678 8.83248L8.66777 3.23248L5.13223 6.76801ZM14.2678 12.368L19.8678 6.76801L16.3322 3.23248L10.7322 8.83248L14.2678 12.368ZM16.3322 6.76801L17.7322 8.16801L21.2678 4.63248L19.8678 3.23248L16.3322 6.76801ZM17.7322 4.63248L12.1322 10.2325L15.6678 13.768L21.2678 8.16801L17.7322 4.63248ZM12.1322 13.768L17.7322 19.368L21.2678 15.8325L15.6678 10.2325L12.1322 13.768ZM17.7322 15.8325L16.3322 17.2325L19.8678 20.768L21.2678 19.368L17.7322 15.8325ZM19.8678 17.2325L14.2678 11.6325L10.7322 15.168L16.3322 20.768L19.8678 17.2325ZM10.7322 11.6325L5.13223 17.2325L8.66777 20.768L14.2678 15.168L10.7322 11.6325Z" fill="%23F5F2E8" mask="url(%23path-1-inside-1_3268_5161)"/></svg>');
  background-color: #F37321;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.green-container .corner-sml .rc {
  background-color: transparent;
  width: 32px;
  aspect-ratio: 1/1;
  border-top-right-radius: 32px;
  display: block;
  box-shadow: 12px -12px 0px 12px #eaead8;
  -webkit-box-shadow: 12px -12px 0px 12px #eaead8;
  -moz-box-shadow: 12px -12px 0px 12px #eaead8;
  position: absolute;
}
@media (max-width: 820px) {
  .green-container .corner-sml .rc {
    box-shadow: 6px -6px 0px 6px #eaead8;
    -webkit-box-shadow: 6px -6px 0px 6px #eaead8;
    -moz-box-shadow: 6px -6px 0px 6px #eaead8;
  }
}
.green-container .corner-sml .rc:first-of-type {
  left: -32px;
  top: 0px;
}
.green-container .corner-sml .rc:last-of-type {
  right: 0px;
  bottom: -32px;
}
.distributor-section {
  background: url('data:image/svg+xml,<svg width="257" height="2352" viewBox="0 0 257 2352" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.76908 2252.57C4.76907 2226.41 10.0719 2203.55 20.6774 2183.99C31.0473 2164.19 45.6594 2148.99 64.5138 2138.38C83.3681 2127.78 104.933 2122.48 129.208 2122.48C153.247 2122.48 174.694 2127.9 193.548 2138.74C212.403 2149.34 227.25 2164.54 238.092 2184.34C248.697 2203.9 254 2226.65 254 2252.57L254 2351.2L4.76908 2351.2L4.76908 2252.57ZM192.841 2257.87C192.841 2237.61 187.303 2221.7 176.226 2210.15C165.149 2198.6 149.476 2192.83 129.208 2192.83C108.704 2192.83 92.9132 2198.6 81.8362 2210.15C70.5236 2221.7 64.8673 2237.61 64.8673 2257.87L64.8673 2281.91L192.841 2281.91L192.841 2257.87ZM4.76907 2039.63L254 2039.63L254 2108.92L4.76907 2108.92L4.76907 2039.63ZM256.475 1923.81C256.475 1952.8 249.64 1976.6 235.971 1995.22C222.065 2013.84 202.268 2023.86 176.579 2025.27L176.579 1951.38C185.299 1950.68 191.663 1948.08 195.669 1943.61C199.676 1939.13 201.679 1933.35 201.679 1926.28C201.679 1919.92 200.147 1914.74 197.083 1910.73C193.784 1906.49 189.306 1904.37 183.65 1904.37C176.344 1904.37 170.687 1907.78 166.681 1914.62C162.674 1921.45 158.196 1932.53 153.247 1947.85C147.826 1964.11 142.641 1977.31 137.692 1987.44C132.507 1997.34 125.083 2006.06 115.421 2013.6C105.522 2020.91 92.6775 2024.56 76.8869 2024.56C60.8608 2024.56 47.1914 2020.56 35.8787 2012.54C24.3305 2004.53 15.6103 1993.45 9.71833 1979.31C3.82635 1965.17 0.880361 1949.15 0.880361 1931.23C0.880359 1902.24 7.71506 1879.15 21.3844 1861.94C34.8182 1844.5 53.7904 1835.19 78.301 1834.02L78.301 1909.32C70.7593 1909.55 65.103 1911.91 61.3321 1916.39C57.5612 1920.63 55.6758 1926.17 55.6758 1933C55.6758 1938.19 57.2077 1942.43 60.2715 1945.73C63.3354 1949.03 67.6955 1950.68 73.3518 1950.68C78.0653 1950.68 82.1897 1948.91 85.7249 1945.37C89.0244 1941.6 91.9704 1937.01 94.5629 1931.59C96.9197 1926.17 99.9835 1918.15 103.754 1907.55C109.175 1891.76 114.596 1878.79 120.016 1868.66C125.201 1858.29 132.625 1849.45 142.288 1842.15C151.715 1834.6 163.735 1830.83 178.347 1830.83C193.195 1830.83 206.511 1834.6 218.295 1842.15C230.079 1849.45 239.388 1860.18 246.223 1874.32C253.057 1888.22 256.475 1904.72 256.475 1923.81ZM4.76905 1628.58L59.918 1628.58L59.918 1695.04L254 1695.04L254 1764.33L59.918 1764.33L59.918 1830.09L4.76906 1830.09L4.76905 1628.58ZM254 1494.41L162.085 1543.91L162.085 1551.33L254 1551.33L254 1620.62L4.76905 1620.62L4.76904 1511.38C4.76904 1491.35 8.30424 1474.38 15.3746 1460.48C22.2093 1446.57 31.7543 1436.08 44.0097 1429.01C56.0293 1421.94 69.5809 1418.41 84.6643 1418.41C101.633 1418.41 116.599 1423.12 129.561 1432.55C142.288 1441.74 151.362 1455.29 156.782 1473.2L254 1416.99L254 1494.41ZM114.713 1551.33L114.713 1517.04C114.713 1507.61 112.475 1500.54 107.997 1495.83C103.519 1491.11 97.0375 1488.76 88.5531 1488.76C80.54 1488.76 74.2945 1491.23 69.8165 1496.18C65.103 1500.89 62.7462 1507.85 62.7462 1517.04L62.7462 1551.33L114.713 1551.33ZM4.76904 1335.28L254 1335.28L254 1404.57L4.76904 1404.57L4.76904 1335.28ZM126.026 1154.42C129.326 1139.8 136.632 1128.26 147.944 1119.77C159.021 1111.05 171.748 1106.69 186.124 1106.69C207.335 1106.69 223.951 1114 235.97 1128.61C247.99 1143.22 254 1163.73 254 1190.12L254 1313.5L4.76903 1313.5L4.76903 1194.01C4.76903 1168.56 10.4253 1148.64 21.738 1134.27C33.0506 1119.65 48.9589 1112.35 69.463 1112.35C84.0751 1112.35 96.3305 1116.24 106.229 1124.01C115.892 1131.56 122.491 1141.69 126.026 1154.42ZM103.754 1244.21L103.754 1209.21C103.754 1191.77 96.5661 1183.05 82.1897 1183.05C67.3419 1183.05 59.918 1191.77 59.918 1209.21L59.918 1244.21L103.754 1244.21ZM198.144 1203.91C198.144 1186.47 190.838 1177.75 176.226 1177.75C168.684 1177.75 162.91 1180.11 158.903 1184.82C154.897 1189.3 152.894 1195.78 152.894 1204.26L152.894 1244.21L198.144 1244.21L198.144 1203.91ZM4.76902 1026.13L149.358 1026.13C162.792 1026.13 173.162 1023.06 180.468 1016.93C187.774 1010.57 191.427 1001.03 191.427 988.299C191.427 975.572 187.774 966.027 180.468 959.664C172.926 953.065 162.556 949.765 149.358 949.765L4.76902 949.765L4.76902 880.475L149.358 880.475C172.219 880.475 191.781 885.307 208.042 894.97C224.069 904.633 236.206 917.831 244.455 934.564C252.468 951.061 256.475 969.444 256.475 989.713C256.475 1009.98 252.468 1028.13 244.455 1044.15C236.206 1059.95 224.069 1072.44 208.042 1081.63C192.016 1090.58 172.455 1095.06 149.358 1095.06L4.76903 1095.06L4.76902 1026.13ZM4.76901 672.283L59.918 672.283L59.918 738.745L254 738.745L254 808.034L59.918 808.034L59.918 873.789L4.76902 873.789L4.76901 672.283ZM256.475 544.834C256.475 568.166 251.054 589.613 240.213 609.174C229.136 628.736 213.934 644.291 194.609 655.839C175.047 667.152 153.011 672.808 128.501 672.808C103.99 672.808 82.0718 667.152 62.7461 655.839C43.1847 644.291 27.9834 628.736 17.1422 609.174C6.30093 589.613 0.880301 568.166 0.8803 544.834C0.880299 521.266 6.30092 499.819 17.1422 480.494C27.9834 460.932 43.1847 445.495 62.7461 434.183C82.0718 422.87 103.99 417.214 128.501 417.214C153.011 417.214 175.047 422.87 194.609 434.183C213.934 445.495 229.136 460.932 240.213 480.494C251.054 500.055 256.475 521.502 256.475 544.834ZM192.134 544.834C192.134 527.158 186.36 513.253 174.812 503.119C163.263 492.749 147.826 487.564 128.501 487.564C108.704 487.564 93.1488 492.749 81.8362 503.119C70.2879 513.253 64.5137 527.158 64.5137 544.834C64.5137 562.746 70.2879 576.769 81.8362 586.903C93.1488 597.037 108.704 602.104 128.501 602.104C148.062 602.104 163.617 597.037 175.165 586.903C186.478 576.769 192.134 562.746 192.134 544.834ZM254 277.535L162.085 327.028L162.085 334.452L254 334.452L254 403.741L4.769 403.741L4.76899 294.504C4.76899 274.471 8.30418 257.502 15.3746 243.597C22.2093 229.692 31.7543 219.204 44.0096 212.134C56.0292 205.064 69.5808 201.528 84.6643 201.528C101.633 201.528 116.599 206.242 129.561 215.669C142.288 224.861 151.362 238.412 156.782 256.324L254 200.114L254 277.535ZM114.713 334.452L114.713 300.16C114.713 290.733 112.474 283.663 107.997 278.949C103.519 274.235 97.0375 271.879 88.553 271.879C80.5399 271.879 74.2944 274.353 69.8165 279.303C65.1029 284.016 62.7461 290.969 62.7461 300.16L62.7461 334.452L114.713 334.452ZM256.475 93.6581C256.475 122.647 249.64 146.45 235.97 165.069C222.065 183.688 202.268 193.704 176.579 195.118L176.579 121.233C185.299 120.526 191.663 117.933 195.669 113.455C199.676 108.977 201.679 103.203 201.679 96.1327C201.679 89.7694 200.147 84.5844 197.083 80.5779C193.784 76.3356 189.306 74.2145 183.65 74.2145C176.344 74.2145 170.687 77.6319 166.681 84.4666C162.674 91.3013 158.196 102.378 153.247 117.697C147.826 133.959 142.641 147.157 137.692 157.292C132.507 167.19 125.083 175.91 115.42 183.452C105.522 190.758 92.6774 194.411 76.8869 194.411C60.8607 194.411 47.1913 190.404 35.8787 182.391C24.3304 174.378 15.6102 163.301 9.71825 149.161C3.82627 135.02 0.880281 118.994 0.880281 101.082C0.880279 72.0934 7.71498 48.9968 21.3844 31.7923C34.8181 14.352 53.7903 5.04264 78.3009 3.86424L78.3009 79.1638C70.7592 79.3995 65.1029 81.7563 61.332 86.2342C57.5612 90.4764 55.6757 96.0149 55.6757 102.85C55.6757 108.035 57.2076 112.277 60.2715 115.576C63.3353 118.876 67.6954 120.526 73.3517 120.526C78.0653 120.526 82.1897 118.758 85.7248 115.223C89.0244 111.452 91.9703 106.856 94.5628 101.435C96.9196 96.0149 99.9834 88.0018 103.754 77.3962C109.175 61.6057 114.596 48.6433 120.016 38.5091C125.201 28.1392 132.625 19.3012 142.288 11.9952C151.715 4.45344 163.735 0.682568 178.347 0.682568C193.195 0.682567 206.511 4.45344 218.294 11.9952C230.078 19.3012 239.388 30.0247 246.222 44.1654C253.057 58.0705 256.475 74.568 256.475 93.6581Z" fill="%23DBDCC9"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 0;
  background-size: contain;
}
@media (max-width: 820px) {
  .distributor-section {
    background-image: none;
  }
}
.distributor-section .posts-grid {
  padding: 16px 32px;
  box-sizing: border-box;
}
@media (max-width: 820px) {
  .distributor-section .posts-grid {
    padding: 8px;
  }
}
.location-card {
  background-color: #F5F2E8;
  border: solid 1px rgba(64, 64, 64, 0.3);
  padding: 56px 32px;
  box-sizing: content-box;
  border-radius: 24px;
  text-decoration: none;
  transition: 0.3s all ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
.location-card .location-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 16/10;
}
.location-card .location-thumbnail img {
  max-height: 160px;
  width: 100%;
  padding: 16px;
  box-sizing: content-box;
}
.location-card .location-title {
  font-family: 'Poppins-Medium', sans-serif;
  color: #222222;
  font-size: 24px;
  line-height: 133%;
}
.location-card .location-pin {
  display: flex;
  gap: 16px;
  align-items: center;
  word-wrap: break-word;
  font-size: 16px;
  font-family: 'Poppins-Regular', sans-serif;
  color: #404040;
  text-decoration: none;
  margin-top: 24px;
  padding-bottom: 8px;
  border-bottom: solid 1px #EAEAD8;
}
.location-card .location-pin .location-ico {
  min-width: 24px;
  max-width: 24px;
  aspect-ratio: 1/1;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M12 22.5C10.2333 22.5 8.79167 22.2208 7.675 21.6625C6.55833 21.1042 6 20.3833 6 19.5C6 18.9167 6.24167 18.4083 6.725 17.975C7.20833 17.5417 7.875 17.2 8.725 16.95L9.3 18.85C9.01667 18.9333 8.75833 19.0375 8.525 19.1625C8.29167 19.2875 8.13333 19.4 8.05 19.5C8.26667 19.7667 8.76667 20 9.55 20.2C10.3333 20.4 11.15 20.5 12 20.5C12.85 20.5 13.6708 20.4 14.4625 20.2C15.2542 20 15.7583 19.7667 15.975 19.5C15.8917 19.4 15.7333 19.2875 15.5 19.1625C15.2667 19.0375 15.0083 18.9333 14.725 18.85L15.3 16.95C16.15 17.2 16.8125 17.5417 17.2875 17.975C17.7625 18.4083 18 18.9167 18 19.5C18 20.3833 17.4417 21.1042 16.325 21.6625C15.2083 22.2208 13.7667 22.5 12 22.5ZM12 15.825C12.3 15.275 12.6167 14.7708 12.95 14.3125C13.2833 13.8542 13.6083 13.4167 13.925 13C14.5417 12.2 15.0333 11.4792 15.4 10.8375C15.7667 10.1958 15.95 9.4 15.95 8.45C15.95 7.35 15.5667 6.41667 14.8 5.65C14.0333 4.88333 13.1 4.5 12 4.5C10.9 4.5 9.96667 4.88333 9.2 5.65C8.43333 6.41667 8.05 7.35 8.05 8.45C8.05 9.4 8.23333 10.1958 8.6 10.8375C8.96667 11.4792 9.45833 12.2 10.075 13C10.3917 13.4167 10.7167 13.8542 11.05 14.3125C11.3833 14.7708 11.7 15.275 12 15.825ZM12 19.5C11.8167 19.5 11.65 19.4458 11.5 19.3375C11.35 19.2292 11.2417 19.0833 11.175 18.9C10.7917 17.7167 10.3083 16.725 9.725 15.925C9.14167 15.125 8.575 14.3583 8.025 13.625C7.49167 12.8917 7.02917 12.1333 6.6375 11.35C6.24583 10.5667 6.05 9.6 6.05 8.45C6.05 6.78333 6.625 5.375 7.775 4.225C8.925 3.075 10.3333 2.5 12 2.5C13.6667 2.5 15.075 3.075 16.225 4.225C17.375 5.375 17.95 6.78333 17.95 8.45C17.95 9.6 17.7583 10.5667 17.375 11.35C16.9917 12.1333 16.525 12.8917 15.975 13.625C15.4417 14.3583 14.8792 15.125 14.2875 15.925C13.6958 16.725 13.2083 17.7167 12.825 18.9C12.7583 19.0833 12.65 19.2292 12.5 19.3375C12.35 19.4458 12.1833 19.5 12 19.5ZM12 10.575C12.5833 10.575 13.0833 10.3667 13.5 9.95C13.9167 9.53333 14.125 9.03333 14.125 8.45C14.125 7.86667 13.9167 7.36667 13.5 6.95C13.0833 6.53333 12.5833 6.325 12 6.325C11.4167 6.325 10.9167 6.53333 10.5 6.95C10.0833 7.36667 9.875 7.86667 9.875 8.45C9.875 9.03333 10.0833 9.53333 10.5 9.95C10.9167 10.3667 11.4167 10.575 12 10.575Z" fill="%23767A53"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.location-card .distributor-list {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: solid 1px #EAEAD8;
  font-size: 16px;
  font-family: 'Poppins-Regular', sans-serif;
}
.location-card .distributor-list a {
  color: #F37321;
  text-decoration: none;
}
.location-card .distributor-list .distributor-phone {
  min-width: 24px;
  max-width: 24px;
  aspect-ratio: 1/1;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M19.95 21.5C17.8667 21.5 15.8083 21.0458 13.775 20.1375C11.7417 19.2292 9.89167 17.9417 8.225 16.275C6.55833 14.6083 5.27083 12.7583 4.3625 10.725C3.45417 8.69167 3 6.63333 3 4.55C3 4.25 3.1 4 3.3 3.8C3.5 3.6 3.75 3.5 4.05 3.5H8.1C8.33333 3.5 8.54167 3.57917 8.725 3.7375C8.90833 3.89583 9.01667 4.08333 9.05 4.3L9.7 7.8C9.73333 8.06667 9.725 8.29167 9.675 8.475C9.625 8.65833 9.53333 8.81667 9.4 8.95L6.975 11.4C7.30833 12.0167 7.70417 12.6125 8.1625 13.1875C8.62083 13.7625 9.125 14.3167 9.675 14.85C10.1917 15.3667 10.7333 15.8458 11.3 16.2875C11.8667 16.7292 12.4667 17.1333 13.1 17.5L15.45 15.15C15.6 15 15.7958 14.8875 16.0375 14.8125C16.2792 14.7375 16.5167 14.7167 16.75 14.75L20.2 15.45C20.4333 15.5167 20.625 15.6375 20.775 15.8125C20.925 15.9875 21 16.1833 21 16.4V20.45C21 20.75 20.9 21 20.7 21.2C20.5 21.4 20.25 21.5 19.95 21.5ZM6.025 9.5L7.675 7.85L7.25 5.5H5.025C5.10833 6.18333 5.225 6.85833 5.375 7.525C5.525 8.19167 5.74167 8.85 6.025 9.5ZM14.975 18.45C15.625 18.7333 16.2875 18.9583 16.9625 19.125C17.6375 19.2917 18.3167 19.4 19 19.45V17.25L16.65 16.775L14.975 18.45Z" fill="%23767A53"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.location-card .distributor-list .distributor-email {
  min-width: 24px;
  max-width: 24px;
  aspect-ratio: 1/1;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><g clip-path="url(%23clip0_2742_8948)"><path d="M6 14.5H14V12.5H6V14.5ZM6 11.5H18V9.5H6V11.5ZM6 8.5H18V8.4C17.3833 8.26667 16.8208 8.0375 16.3125 7.7125C15.8042 7.3875 15.3667 6.98333 15 6.5H6V8.5ZM2 22.5V4.5C2 3.95 2.19583 3.47917 2.5875 3.0875C2.97917 2.69583 3.45 2.5 4 2.5H14.1C14.0333 2.83333 14 3.16667 14 3.5C14 3.83333 14.0333 4.16667 14.1 4.5H4V17.625L5.15 16.5H20V8.4C20.3833 8.31667 20.7417 8.20417 21.075 8.0625C21.4083 7.92083 21.7167 7.73333 22 7.5V16.5C22 17.05 21.8042 17.5208 21.4125 17.9125C21.0208 18.3042 20.55 18.5 20 18.5H6L2 22.5ZM19 6.5C18.1667 6.5 17.4583 6.20833 16.875 5.625C16.2917 5.04167 16 4.33333 16 3.5C16 2.66667 16.2917 1.95833 16.875 1.375C17.4583 0.791667 18.1667 0.5 19 0.5C19.8333 0.5 20.5417 0.791667 21.125 1.375C21.7083 1.95833 22 2.66667 22 3.5C22 4.33333 21.7083 5.04167 21.125 5.625C20.5417 6.20833 19.8333 6.5 19 6.5Z" fill="%23767A53"/></g><defs><clipPath id="clip0_2742_8948"><rect width="24" height="24" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.location-card .distributor-list .distributor-website {
  min-width: 24px;
  max-width: 24px;
  aspect-ratio: 1/1;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"%3E%3Ccircle cx="12" cy="12" r="10" stroke="%23767A53" stroke-width="2" fill="none"/%3E%3Cellipse cx="12" cy="12" rx="5" ry="10" stroke="%23767A53" stroke-width="2" fill="none"/%3E%3Cpath d="M2 12h20M12 2v20" stroke="%23767A53" stroke-width="2"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.location-card .dark-list a {
  color: #222222;
  text-decoration: none;
}
